.sidebar {
}

.sidebar-options {
  list-style: none;
}

.sidebar-option {
}

.sidebar-option a{
  text-decoration: none;
  color: #AAAAAA;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
