.editor-pane {
  height: 100%;
}
.CodeMirror {
  height: 100vh !important;
  padding-top: 20px;
  padding-left: 20px;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
.ReactCodeMirror {
  height: 100%;
}
